.bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #27ae60;
  }

  .bm-menu {
    background: white;
    width: 100%;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: white;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #27ae60;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

.bm-item {
    display: flex !important;
    flex-direction: column;
    gap: 20px;
}

.bm-item h1 {
    cursor: pointer;
    font-weight: 400;
    font-size: 1em;
    padding: 10px;
    transition: all .5s ease;
}

.bm-item h1:hover {
    background: #27ae60;
    color: white;
    padding: 10px;
    border-radius: 3px;
}